In [1]:
import os 

import pandas as pd 

import numpy as py

In [2]:
#importing primary Saguaro Data Set 
full_data = "Full history of inventory and measurement data for all saguaros alive and dead_SR.csv"

In [3]:
#converting file into a dataframe 
full_df = pd.read_csv(full_data,encoding='cp1252')

full_df

,Accession Planting,Inventory Date,Status,Condition,Inventory Note,Measurement Date,Height,Height Unit,DBH,DBH Unit,Measurement Note
0,2020-0589-10-0,9/17/2020 0:00,Dormant,Good,accessioned,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-0589-10-0,9/18/2020 17:27,Dormant,Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-0588-10-0,9/17/2020 0:00,Dormant,Good,Accessioned,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-0588-10-0,9/18/2020 17:27,Dormant,Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-0587-10-0,9/17/2020 0:00,Dormant,Good,Accessioned,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13850,1947-1548-01-1,6/17/2009 0:00,Alive,NaN,Inventoried,NaN,NaN,NaN,NaN,NaN,NaN
13851,1947-1548-01-1,7/9/2012 0:00,Alive,NaN,NOTE: This inventory date was found to be inva...,NaN,NaN,NaN,NaN,NaN,NaN
13852,1947-1548-01-1,11/28/2012 12:16,Alive,NaN,NOTE: This inventory date was found to be inva...,NaN,NaN,NaN,NaN,NaN,NaN
13853,1947-1548-01-1,12/17/2012 0:00,Dead,NaN,NOTE: This inventory date was found to be inva...,NaN,NaN,NaN,NaN,NaN,NaN
13854,1947-1548-01-1,1/31/2013 0:00,Dead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
full_df['Height Unit'].value_counts()

feet           2889
inches          476
centimeters      80
Name: Height Unit, dtype: int64

In [5]:
meas_df = full_df[['Measurement Date','Height','Height Unit','DBH','DBH Unit','Measurement Note']]

meas_df = pd.DataFrame(meas_df)

meas_df

      Measurement Date Height Height Unit  DBH DBH Unit Measurement Note
0                  NaN    NaN         NaN  NaN      NaN              NaN
1                  NaN    NaN         NaN  NaN      NaN              NaN
2                  NaN    NaN         NaN  NaN      NaN              NaN
3                  NaN    NaN         NaN  NaN      NaN              NaN
4                  NaN    NaN         NaN  NaN      NaN              NaN
...                ...    ...         ...  ...      ...              ...
13850              NaN    NaN         NaN  NaN      NaN              NaN
13851              NaN    NaN         NaN  NaN      NaN              NaN
13852              NaN    NaN         NaN  NaN      NaN              NaN
13853              NaN    NaN         NaN  NaN      NaN              NaN
13854              NaN    NaN         NaN  NaN      NaN              NaN

[13855 rows x 6 columns]

In [6]:
meas_df = meas_df[meas_df['Measurement Date'] != " dl\""]

meas_df = meas_df[meas_df['Measurement Date'] != " VN"]

meas_df = meas_df[meas_df['Measurement Date'] != " but it has an old tag as \"199202140110\". dl\""]

In [7]:
meas_df = meas_df[meas_df['Measurement Date'] != "nan"]

In [8]:
un = meas_df['Measurement Date'].unique()  



for u in un:
    print(u)

nan
9/3/2020 0:00
3/27/2020 0:00
2/26/2020 13:45
2/19/2020 0:00
2/13/2020 0:00
2/12/2020 0:00
2/26/2020 13:44
2/26/2020 13:47
2/26/2020 13:46
3/29/2019 19:13
3/29/2019 19:14
3/29/2019 19:15
2/8/2019 0:00
3/29/2019 19:11
2/9/2018 0:00
2/7/2018 0:00
2/12/2018 0:00
2/13/2018 0:00
2/14/2018 0:00
2/15/2017 0:00
3/23/2017 20:10
3/23/2017 20:09
2/17/2017 0:00
3/29/2019 19:12
3/23/2017 20:42
2/26/2020 13:30
3/24/2017 0:00
2/26/2020 13:24
3/6/2015 0:00
2/26/2020 13:43
3/11/2015 0:00
2/27/2015 0:00
2/23/2015 0:00
2/26/2018 14:51
2/22/2015 0:00
2/1/2018 0:00
2/21/2015 0:00
2/26/2020 13:52
2/20/2015 0:00
2/16/2015 0:00
11/6/2014 0:00
2/17/2015 0:00
5/26/2014 0:00
2/25/2015 0:00
3/28/2014 0:00
2/26/2020 13:42
3/7/2014 0:00
3/14/2014 0:00
2/24/2015 0:00
11/25/2013 0:00
2/26/2020 13:38
2/26/2015 0:00
4/8/2013 11:33
2/11/2013 17:03
2/11/2013 17:02
2/11/2013 17:00
2/14/2017 0:00
2/11/2013 16:58
2/26/2020 13:39
2/11/2013 16:57
2/11/2013 16:55
2/26/2020 13:40
5/31/2013 16:09
2/26/2018 15:17
2/11/2013 16:53
2/11/2013 17:22
2/11/2013 17:20
2/11/2013 17:19
2/11/2013 17:17
2/11/2013 17:16
2/11/2013 17:14
2/11/2013 17:11
2/11/2013 17:13
2/11/2013 17:09
2/11/2013 17:07
3/5/2015 0:00
2/11/2013 16:51
2/6/2013 12:50
2/6/2013 12:47
2/6/2013 12:42
2/6/2013 11:51
2/6/2013 11:48
2/6/2013 11:44
11/26/2013 0:00
2/6/2013 11:41
2/6/2013 11:37
2/6/2013 12:57
2/6/2013 12:54
2/6/2013 11:32
2/26/2020 13:41
3/30/2013 15:51
3/30/2013 15:49
3/30/2013 15:48
3/30/2013 15:53
3/19/2015 0:00
3/30/2013 15:44
3/30/2013 15:41
2/19/2015 0:00
3/30/2013 15:33
2/18/2015 0:00
3/30/2013 15:43
3/30/2013 15:37
2/13/2013 21:40
2/13/2013 21:42
2/13/2013 21:46
1/30/2013 11:55
1/30/2013 11:47
2/26/2020 13:37
2/5/2013 21:01
2/13/2013 21:22
2/19/2013 21:36
2/19/2013 21:34
2/19/2013 21:32
2/19/2013 15:12
2/13/2013 21:24
2/13/2013 21:26
2/13/2013 21:31
2/13/2013 21:38
1/30/2013 11:44
1/30/2013 11:41
1/30/2013 11:39
1/30/2013 11:36
1/30/2013 11:33
2/5/2013 21:05
2/5/2013 21:07
2/26/2018 15:15
2/5/2013 21:10
1/28/2013 14:33
1/28/2013 14:54
1/28/2013 14:58
1/28/2013 15:00
1/28/2013 15:02
1/28/2013 14:45
1/28/2013 14:49
1/28/2013 15:28
2/12/2013 22:16
2/12/2013 22:19
1/28/2013 15:31
1/28/2013 15:32
1/28/2013 14:56
1/28/2013 14:52
1/28/2013 14:42
1/28/2013 15:26
1/24/2013 20:04
1/24/2013 20:02
1/24/2013 20:25
1/24/2013 20:22
1/24/2013 20:15
1/24/2013 20:18
1/24/2013 17:10
1/24/2013 17:13
1/24/2013 16:37
1/24/2013 17:28
1/24/2013 17:32
1/24/2013 17:18
2/26/2018 15:13
1/24/2013 20:13
1/24/2013 17:05
1/24/2013 16:55
1/24/2013 16:47
1/24/2013 20:06
1/24/2013 20:09
1/24/2013 17:25
1/24/2013 16:40
1/24/2013 17:34
1/24/2013 16:10
1/24/2013 17:23
2/26/2020 13:49
11/21/2012 7:23
11/21/2012 7:25
11/27/2012 14:09
11/24/2012 19:12
3/30/2013 15:35
11/24/2012 19:16
5/17/2013 12:17
3/30/2013 15:29
2/12/2013 22:13
5/17/2013 11:58
2/8/2013 15:22
12/20/2012 15:18
11/14/2012 12:22
11/14/2012 12:10
2/26/2020 13:50
3/10/2015 0:00
12/20/2012 15:29
12/20/2012 15:26
11/27/2012 14:07
12/20/2012 15:23
12/10/2012 14:43
1/3/2013 13:33
1/3/2013 13:28
11/27/2012 14:19
11/27/2012 14:21
12/20/2012 15:15
1/3/2013 13:25
12/14/2012 11:35
11/21/2012 7:27
12/14/2012 11:40
12/14/2012 11:43
12/10/2012 14:52
12/10/2012 14:50
12/10/2012 14:56
12/14/2012 11:32
12/14/2012 11:29
11/27/2012 14:32
12/10/2012 14:30
12/10/2012 14:32
11/21/2012 7:21
11/27/2012 14:15
11/27/2012 14:18
11/27/2012 14:30
11/27/2012 14:14
11/27/2012 14:11
11/27/2012 14:28
11/27/2012 14:23
11/27/2012 14:00
11/27/2012 14:26
11/21/2012 7:17
11/21/2012 6:48
2/26/2020 13:48
12/4/2012 6:08
12/4/2012 6:10
12/4/2012 6:02
12/4/2012 5:57
11/21/2012 7:14
12/4/2012 5:59
11/21/2012 7:11
11/21/2012 7:09
11/21/2012 7:07
12/10/2012 14:35
11/27/2012 13:52
11/27/2012 13:53
11/21/2012 6:56
11/21/2012 6:31
11/21/2012 6:53
11/21/2012 6:51
12/4/2012 6:12
11/21/2012 6:37
11/21/2012 6:29
11/21/2012 7:02
11/21/2012 6:59
11/21/2012 6:24
12/10/2012 15:02
12/10/2012 15:00
4/25/2013 11:35
2/8/2013 12:51
2/8/2013 12:45
12/4/2012 6:24
2/26/2018 15:38
2/8/2013 12:29
2/8/2013 12:15
2/8/2013 12:18
7/8/2020 0:00
4/25/2013 12:12
4/25/2013 12:09
4/25/2013 11:50
4/25/2013 11:54
4/25/2013 12:05
4/25/2013 11:27
3/29/2019 19:04
2/26/2018 15:37
2/8/2013 12:12
3/28/2013 12:07
4/25/2013 11:41
4/25/2013 11:59
4/30/2013 15:41
4/30/2013 15:37
4/8/2013 11:03
4/30/2013 15:43
12/4/2012 5:52
12/4/2012 6:04
12/4/2012 6:15
12/4/2012 6:20
1/31/2013 12:38
1/31/2013 12:26
4/30/2013 15:31
2/8/2013 11:31
12/4/2012 5:46
2/8/2013 11:37
3/4/2013 14:55
3/4/2013 14:46
2/21/2013 17:37
12/4/2012 5:31
12/5/2012 12:29
2/21/2013 17:31
2/21/2013 17:26
2/21/2013 17:18
2/21/2013 17:10
12/5/2012 12:23
2/26/2018 15:36
2/7/2013 10:08
12/5/2012 12:27
12/5/2012 12:21
11/28/2012 12:24
11/28/2012 12:21
4/30/2013 15:34
4/30/2013 12:42
4/30/2013 12:46
4/30/2013 12:40
4/30/2013 12:37
4/8/2013 11:01
2/7/2013 10:04
2/28/2013 0:00
1/8/2013 20:54
2/26/2020 13:51
11/14/2012 12:25
11/21/2012 12:52
11/21/2012 12:58
11/21/2012 12:56
11/21/2012 12:51
11/21/2012 12:48
11/21/2012 12:40
11/21/2012 12:33
2/26/2018 15:35
2/7/2013 10:19
11/21/2012 12:18
12/5/2012 12:43
11/28/2012 12:28
12/5/2012 12:41
1/29/2013 9:44
1/29/2013 9:46
1/29/2013 9:58
1/29/2013 10:05
1/31/2013 12:02
1/31/2013 12:14
2/7/2013 10:16
2/26/2020 13:36
11/21/2012 13:10
3/21/2013 12:57
3/28/2013 11:49
4/4/2013 11:44
12/5/2012 12:39
4/4/2013 11:50
11/28/2012 12:36
12/5/2012 12:34
11/28/2012 12:30
11/28/2012 12:33
2/26/2018 15:34
1/9/2013 16:09
12/5/2012 12:32
12/5/2012 12:31
12/5/2012 12:37
11/28/2012 12:39
2/7/2013 10:54
3/21/2013 13:03
2/7/2013 10:44
2/7/2013 10:35
12/5/2012 12:35
11/28/2012 12:42
2/7/2013 10:49
2/7/2013 10:28
2/7/2013 10:25
2/7/2013 11:28
2/8/2013 11:26
2/7/2013 11:37
11/21/2012 13:12
2/8/2013 11:41
2/8/2013 11:45
2/8/2013 11:53
2/8/2013 12:00
2/8/2013 11:57
2/7/2013 11:23
3/21/2013 12:01
3/21/2013 12:12
2/26/2018 15:33
3/21/2013 12:16
3/21/2013 12:26
11/21/2012 13:15
3/21/2013 12:32
2/7/2013 10:58
2/7/2013 11:19
2/7/2013 11:09
11/28/2012 12:45
11/21/2012 13:02
11/21/2012 13:00
11/21/2012 13:05
11/21/2012 13:07
3/28/2013 12:15
11/21/2012 13:17
12/12/2012 11:50
12/4/2012 13:07
12/4/2012 13:20
12/11/2012 15:49
12/4/2012 13:43
3/28/2013 12:31
3/28/2013 12:24
3/28/2013 12:21
4/4/2013 11:59
4/4/2013 12:19
4/4/2013 12:25
4/4/2013 12:30
3/27/2015 0:00
4/4/2013 12:35
4/4/2013 12:40
4/4/2013 12:44
2/26/2020 13:35
12/11/2012 15:38
4/4/2013 12:47
4/4/2013 12:58
4/4/2013 12:51
4/4/2013 12:12
2/26/2018 15:32
4/4/2013 11:53
11/28/2012 12:48
12/4/2012 6:28
12/4/2012 6:33
12/4/2012 6:37
12/4/2012 6:31
12/11/2012 15:46
12/4/2012 6:49
12/4/2012 6:40
12/4/2012 6:42
12/4/2012 6:51
12/12/2012 11:46
11/28/2012 13:00
11/28/2012 13:05
11/28/2012 12:51
12/12/2012 11:48
11/28/2012 12:58
12/4/2012 14:35
11/28/2012 13:03
11/28/2012 13:09
12/12/2012 11:55
11/28/2012 13:11
11/28/2012 13:12
12/12/2012 11:57
12/12/2012 11:53
12/11/2012 15:57
12/11/2012 15:55
12/11/2012 15:42
12/4/2012 14:37
2/26/2020 13:34
1/10/2013 10:56
3/12/2013 10:45
11/13/2012 16:01
4/30/2013 11:33
12/20/2012 15:11
12/20/2012 15:08
12/11/2012 15:34
11/20/2012 16:56
11/20/2012 16:53
12/4/2012 5:29
1/9/2013 17:02
12/4/2012 6:55
12/4/2012 6:58
12/4/2012 6:44
1/9/2013 17:00
12/20/2012 15:38
1/9/2013 16:57
1/9/2013 0:00
11/27/2012 14:51
11/27/2012 14:43
4/8/2013 10:56
11/27/2012 14:48
11/13/2012 15:17
11/13/2012 15:02
11/13/2012 14:51
12/20/2012 15:31
11/13/2012 14:33
11/13/2012 14:14
2/26/2018 15:30
11/6/2012 17:32
5/24/2013 11:37
11/20/2012 16:29
11/20/2012 16:13
11/20/2012 16:10
11/20/2012 15:56
11/20/2012 15:48
12/20/2012 15:33
11/20/2012 15:35
11/20/2012 15:23
11/14/2012 12:31
11/20/2012 15:11
11/20/2012 15:00
1/29/2014 0:00
11/20/2012 14:44
11/20/2012 14:34
11/20/2012 14:19
11/20/2012 14:04
11/20/2012 13:51
1/3/2013 13:41
3/18/2013 10:47
2/26/2020 13:33
3/18/2013 10:45
3/18/2013 10:44
3/18/2013 10:42
1/3/2013 13:46
3/18/2013 10:40
1/3/2013 13:38
1/3/2013 23:43
12/20/2012 15:45
12/20/2012 15:47
12/14/2012 11:27
12/14/2012 11:25
12/14/2012 11:23
12/14/2012 9:25
1/3/2013 23:53
3/18/2013 10:38
1/3/2013 23:51
1/3/2013 23:48
12/14/2012 9:23
12/14/2012 9:19
12/14/2012 9:17
12/14/2012 9:15
12/14/2012 9:12
12/14/2012 9:09
1/3/2013 23:58
3/18/2013 11:17
3/18/2013 10:36
3/18/2013 11:27
3/18/2013 11:25
3/18/2013 11:24
3/18/2013 11:22
7/17/2020 0:00
3/18/2013 11:20
3/18/2013 11:18
3/24/2015 0:00
3/18/2013 11:15
3/18/2013 11:13
3/18/2013 11:11
3/18/2013 11:08
3/18/2013 10:05
3/18/2013 11:06
3/18/2013 11:04
3/18/2013 11:02
3/18/2013 11:00
3/18/2013 10:57
3/18/2013 10:55
3/18/2013 10:53
3/18/2013 10:52
3/18/2013 10:50
3/18/2013 10:49
3/18/2013 10:07
2/26/2020 13:32
3/16/2013 18:39
3/16/2013 18:37
3/16/2013 18:35
3/18/2013 10:34
3/16/2013 18:32
3/18/2013 10:32
3/18/2013 10:30
3/18/2013 10:28
3/18/2013 10:26
3/18/2013 10:24
3/18/2013 10:22
3/18/2013 10:19
3/18/2013 10:17
3/18/2013 10:13
3/18/2013 10:11
3/16/2013 18:28
3/18/2013 10:03
3/17/2013 13:11
10/8/2012 14:59
3/17/2013 13:13
3/17/2013 13:16
3/17/2013 13:26
3/17/2013 13:24
3/17/2013 13:23
3/17/2013 13:20
3/17/2013 13:18
3/15/2013 16:45
12/14/2012 11:46
3/17/2013 13:15
3/17/2013 13:09
3/17/2013 13:08
3/17/2013 13:06
3/17/2013 13:03
3/17/2013 13:02
12/20/2012 15:41
3/16/2013 19:27
3/16/2013 19:20
3/16/2013 19:15
4/2/2013 15:29
3/16/2013 19:13
3/16/2013 19:11
3/16/2013 19:08
3/16/2013 19:17
3/16/2013 19:05
3/16/2013 19:03
3/16/2013 19:01
3/16/2013 18:44
3/16/2013 18:42
4/2/2013 15:28
4/2/2013 15:26
4/2/2013 15:25
11/29/2013 0:00
4/2/2013 15:24
4/2/2013 15:22
1/17/2014 0:00
4/2/2013 15:20
4/2/2013 15:19
4/2/2013 15:17
12/10/2012 14:40
12/10/2012 14:46
4/2/2013 15:16
10/18/2012 19:50
4/2/2013 15:14
12/10/2012 14:38
4/2/2013 15:35
4/2/2013 15:39
4/2/2013 15:41
4/2/2013 15:43
4/2/2013 15:56
4/2/2013 15:55
4/2/2013 15:53
4/2/2013 15:52
10/18/2012 19:49
4/2/2013 15:49
4/2/2013 15:48
4/2/2013 15:46
4/2/2013 15:45
10/19/2012 10:32
4/2/2013 15:38
4/2/2013 15:36
2/26/2020 13:31
4/2/2013 15:32
10/18/2012 19:48
4/2/2013 15:12
4/2/2013 15:10
4/2/2013 15:09
4/2/2013 15:07
4/2/2013 15:06
4/2/2013 15:04
10/19/2012 10:28
4/2/2013 15:02
4/2/2013 15:00
3/16/2013 0:00
4/8/2013 11:16
3/13/2013 13:27
3/13/2013 13:53
3/16/2013 16:57
10/19/2012 10:24
3/13/2013 13:35
3/13/2013 13:34
3/13/2013 13:25
3/13/2013 13:55
10/18/2012 19:47
3/13/2013 12:21
10/19/2012 10:21
3/13/2013 13:39
2/26/2018 15:24
3/13/2013 13:20
3/13/2013 13:51
10/19/2012 10:18
3/13/2013 13:47
3/13/2013 13:41
10/18/2012 19:46
3/13/2013 13:43
3/13/2013 13:37
3/13/2013 13:05
3/13/2013 13:10
3/13/2013 13:00
3/13/2013 12:56
3/13/2013 12:45
10/19/2012 10:12
3/13/2013 12:36
3/13/2013 12:00
10/18/2012 19:45
3/13/2013 12:35
3/13/2013 12:31
3/13/2013 12:28
3/13/2013 12:26
3/13/2013 12:22
4/2/2013 14:46
3/13/2013 12:17
3/13/2013 12:16
3/13/2013 12:14
10/18/2012 19:57
10/18/2012 19:56
3/16/2013 19:23
10/18/2012 19:55
4/2/2013 15:51
4/2/2013 15:33
3/13/2013 13:32
3/13/2013 13:45
3/13/2013 13:49
10/18/2012 19:51
10/18/2012 19:44
10/18/2012 19:43
3/17/2013 12:57
1/8/2013 20:52
10/15/2012 17:55
10/18/2012 19:42
10/18/2012 19:41
10/18/2012 19:40
10/15/2012 17:56
10/18/2012 19:39
10/18/2012 19:38
10/18/2012 19:37
10/18/2012 19:36
5/24/2013 11:39
10/18/2012 19:35
10/26/2012 12:46
10/18/2012 19:34
5/24/2013 11:38
10/18/2012 19:33
10/18/2012 19:32
10/18/2012 19:31
10/18/2012 19:30
10/18/2012 19:29
10/18/2012 19:28
10/15/2012 17:57
10/18/2012 19:27
10/18/2012 19:26
3/17/2013 12:43
10/18/2012 19:21
10/15/2012 17:44
10/15/2012 17:45
10/15/2012 17:46
10/15/2012 17:47
10/15/2012 17:48
10/15/2012 17:49
10/15/2012 17:50
10/15/2012 17:58
10/15/2012 17:51
10/15/2012 17:52
2/26/2018 15:07
10/15/2012 17:53
10/15/2012 17:54
10/15/2012 18:07
1/22/2014 0:00
8/19/2002 0:00
5/17/2013 10:50
3/13/2013 12:12
3/13/2013 12:58
3/13/2013 13:03
3/13/2013 13:17
3/13/2013 12:55
3/23/2017 20:11
3/13/2013 13:01
4/2/2013 14:49
1/10/2013 11:01
2/26/2018 15:06
5/13/2013 10:08
2/26/2020 13:53
12/10/2012 14:28
10/15/2012 18:13
1/9/2013 16:25
11/10/1998 0:00
1/9/2013 16:27
1/9/2013 16:34
1/9/2013 16:29
1/9/2013 16:15
5/17/2013 11:28
1/9/2013 16:21
1/9/2013 17:05
1/10/2013 10:42
9/22/2016 18:56
1/9/2013 17:07
1/10/2013 10:37
1/10/2013 10:40
1/10/2013 10:50
1/10/2013 11:05
2/26/2020 13:54
1/10/2013 11:07
1/10/2013 10:59
5/17/2013 11:11
1/9/2013 16:30
1/9/2013 16:33
1/9/2013 9:21
1/9/2013 9:12
4/12/1999 0:00
1/10/2013 10:43
1/10/2013 10:45
2/26/2020 13:55
1/10/2013 10:49
11/14/2015 0:00
1/10/2013 10:47
5/13/2013 10:26
1/9/2013 16:45
5/13/2013 10:53
12/10/2012 13:11
5/24/2013 11:43
5/10/2013 12:04
2/5/2013 19:20
2/5/2013 19:18
5/24/2013 11:41
5/24/2013 11:42
2/5/2013 20:05
5/13/2013 10:51
5/10/2013 11:39
5/10/2013 11:26
5/10/2013 11:28
5/13/2013 12:09
5/13/2013 12:29
2/26/2013 21:23
1/9/2013 16:23
1/9/2013 16:19
1/9/2013 16:13
4/6/2013 14:30
4/6/2013 16:06
1/9/2013 16:11
1/9/2013 16:08
1/9/2013 9:37
11/30/2012 17:59
1/8/2013 20:45
1/24/2013 16:31
12/2/2012 14:11
12/2/2012 14:03
12/2/2012 14:00
12/2/2012 13:44
12/2/2012 13:16
11/30/2012 18:18
12/10/2012 14:19
12/21/2012 14:26
12/21/2012 15:21
12/21/2012 15:31
12/3/2012 11:10
5/7/2013 13:38
12/21/2012 14:33
12/21/2012 14:45
12/2/2012 13:28
5/10/2013 10:38
12/2/2012 13:36
12/10/2012 14:17
1/8/2013 20:49
5/7/2013 13:12
1/21/2013 14:21
12/21/2012 15:52
11/30/2012 18:03
11/29/2012 21:06
2/26/2018 15:12
11/29/2012 21:15
11/30/2012 18:15
5/7/2013 12:56
2/19/2013 21:41
5/7/2013 13:30
12/2/2012 13:23
5/7/2013 13:24
1/21/2013 13:22
1/21/2013 13:13
1/21/2013 13:03
5/10/2013 10:47
5/10/2013 11:05
5/10/2013 11:02
5/10/2013 11:10
5/10/2013 10:58
3/23/2017 20:46
5/10/2013 10:53
3/18/2015 0:00
5/17/2013 12:13
1/21/2013 14:04
12/21/2012 13:40
12/21/2012 13:58
12/21/2012 13:52
1/21/2013 13:54
2/19/2013 21:53
11/30/2012 18:07
12/21/2012 15:57
12/2/2012 13:39
5/8/2013 11:18
1/21/2013 12:41
12/2/2012 13:48
5/8/2013 11:13
5/8/2013 11:24
12/10/2012 14:23
2/19/2013 21:43
12/11/2012 14:29
5/8/2013 10:45
1/21/2013 12:21
12/10/2012 14:00
12/10/2012 14:14
11/30/2012 18:11
12/2/2012 14:20
12/10/2012 14:03
12/21/2012 15:37
12/21/2012 14:14
12/21/2012 16:07
1/21/2013 11:54
5/8/2013 11:06
5/8/2013 11:02
12/10/2012 14:25
12/2/2012 14:27
11/27/2013 0:00
3/13/2013 12:08
3/5/2003 0:00
11/30/2012 17:23
12/11/2012 14:12
11/30/2012 17:38
2/5/2013 19:26
2/5/2013 20:08
5/7/2013 13:04
2/5/2013 20:10
2/26/2018 15:10
5/24/2013 11:40
2/5/2013 20:44
2/5/2013 20:42
2/5/2013 20:38
2/5/2013 20:34
2/5/2013 20:28
2/5/2013 20:26
3/14/2012 0:00
2/5/2013 20:22
2/5/2013 20:14
5/8/2013 11:48
5/8/2013 11:38
5/10/2013 11:54
12/21/2012 13:24
3/22/2013 12:18
2/19/2013 21:57
2/19/2013 22:00
12/11/2012 14:43
1/9/2013 9:41
12/8/2012 13:55
1/9/2013 9:34
1/9/2013 16:51
1/9/2013 9:28
1/11/2013 18:22
1/11/2013 18:12
12/10/2012 0:00
1/9/2013 16:47
1/11/2013 18:05
2/26/2020 13:56
1/11/2013 18:00
12/14/2012 0:00
1/28/2013 15:25
1/28/2013 15:22
1/11/2013 17:52
1/11/2013 17:58
1/11/2013 17:29
12/8/2012 13:57
2/26/2013 21:33
12/8/2012 13:44
5/10/2013 11:32
5/10/2013 11:34
5/10/2013 11:20
12/8/2012 14:05
12/8/2012 13:47
1/28/2013 15:19
5/13/2013 11:55
5/13/2013 11:52
5/13/2013 11:47
12/8/2012 14:00
4/6/2013 16:11
4/6/2013 15:48
4/6/2013 16:01
2/25/2013 21:19
2/25/2013 21:43
1/4/2013 17:17
1/28/2013 15:06
4/6/2013 16:13
5/13/2013 11:35
2/25/2013 21:16
2/25/2013 21:39
4/6/2013 16:08
1/10/2013 10:54
12/2/2012 13:11
1/9/2013 9:18
1/4/2013 17:07
1/4/2013 17:10
4/6/2013 16:04
1/4/2013 17:13
1/4/2013 17:20
1/24/2013 22:39
1/4/2013 17:22
12/8/2012 13:49
12/8/2012 14:02
2/26/2018 15:20
1/4/2013 16:50
1/28/2013 15:04
12/8/2012 14:09
1/4/2013 16:55
1/4/2013 16:59
1/4/2013 17:02
10/15/2012 18:17
1/11/2013 18:14
5/13/2013 11:29
1/11/2013 18:07
1/4/2013 17:28
1/11/2013 17:26
12/8/2012 13:53
1/11/2013 18:03
10/15/2012 18:18
1/11/2013 18:18
1/11/2013 18:20
2/26/2013 21:31
2/25/2013 14:23
2/25/2013 21:32
2/25/2013 21:26
4/6/2013 15:51
5/31/2013 16:13
5/31/2013 16:16
5/31/2013 16:27
5/31/2013 16:25
2/25/2013 21:13
2/26/2013 21:21
2/26/2013 21:18
2/26/2013 21:11
5/13/2013 11:06
2/25/2013 21:09
2/26/2018 15:41
2/26/2013 21:20
4/6/2013 15:59
4/6/2013 15:57
4/6/2013 15:42
2/25/2013 21:36
4/6/2013 15:55
4/6/2013 15:44
1/24/2013 16:26
1/10/2013 10:52
5/17/2013 11:51
5/8/2013 10:58
5/13/2013 10:43
1/9/2013 16:43
4/5/1999 0:00
3/30/2013 15:31
4/4/1999 0:00

In [9]:
#regex is looking for anything that starts with 20 then \d\d
#looking for a four digit that starts with 20 
meas_df['Measurement Year']=meas_df['Measurement Date'].str.extract(r'(20\d\d)')

meas_df

,Measurement Date,Height,Height Unit,DBH,DBH Unit,Measurement Note,Measurement Year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
13850,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13851,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13852,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13853,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13854,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
meas_df.head(200)

,Measurement Date,Height,Height Unit,DBH,DBH Unit,Measurement Note,Measurement Year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2/26/2020 13:46,10.4,feet,NaN,feet,"Measured height during Saguaro Inventory 2020,...",2020
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Dropping unwanted columns from the data frame
meas_df = meas_df.drop(columns=['DBH','DBH Unit'])

In [12]:
meas_df

      Measurement Date Height Height Unit Measurement Note Measurement Year
0                  NaN    NaN         NaN              NaN              NaN
1                  NaN    NaN         NaN              NaN              NaN
2                  NaN    NaN         NaN              NaN              NaN
3                  NaN    NaN         NaN              NaN              NaN
4                  NaN    NaN         NaN              NaN              NaN
...                ...    ...         ...              ...              ...
13850              NaN    NaN         NaN              NaN              NaN
13851              NaN    NaN         NaN              NaN              NaN
13852              NaN    NaN         NaN              NaN              NaN
13853              NaN    NaN         NaN              NaN              NaN
13854              NaN    NaN         NaN              NaN              NaN

[13808 rows x 5 columns]

In [13]:
meas_df['Measurement Year'].value_counts()

2020    1072
2015     991
2013     617
2012     344
2019     189
2018     133
2014      47
2017      44
2003       2
2016       1
2002       1
Name: Measurement Year, dtype: int64

In [14]:
meas_df = meas_df.loc[meas_df['Measurement Year'] > "2012"]

meas_df

,Measurement Date,Height,Height Unit,Measurement Note,Measurement Year
6,9/3/2020 0:00,2.5,inches,NaN,2020
9,3/27/2020 0:00,5,inches,NaN,2020
12,2/26/2020 13:45,0.9,feet,"Measured height during Saguaro Inventory 2020,...",2020
13,2/19/2020 0:00,10,inches,Saguaro inventory 2020,2020
16,2/26/2020 13:45,0.2,feet,"Measured height during Saguaro Inventory 2020,...",2020
...,...,...,...,...,...
13809,2/25/2015 0:00,28.95,feet,2 arms. 0 buds.,2015
13810,3/30/2013 15:31,28.15,feet,4 arms. ahp,2013
13831,2/26/2020 13:53,20.3,feet,"Measured height during Saguaro Inventory 2020,...",2020
13832,2/23/2015 0:00,19.7,feet,5 arms. 1 bud.,2015
13833,3/28/2014 0:00,19.5,feet,"5 arms, 1 bud. VN 3/14/2014.",2014

In [15]:
meas_df['Height Unit'].value_counts()

feet           2582
inches          432
centimeters      80
Name: Height Unit, dtype: int64

In [16]:
meas_df['Height'] = meas_df['Height'].astype(float)

meas_df.dtypes

<ipython-input-16-1d25a9fbdaac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meas_df['Height'] = meas_df['Height'].astype(float)

Measurement Date     object
Height              float64
Height Unit          object
Measurement Note     object
Measurement Year     object
dtype: object

In [25]:
def conversion(x):
    if x[2] == "inches":
        return float(x[1]) / 12
    elif x[2] =="centimeters": 
        return float(x[1]) / 30.4

In [26]:
meas_df.apply(conversion,axis=1)

meas_df

,Measurement Date,Height,Height Unit,Measurement Note,Measurement Year
6,9/3/2020 0:00,2.50,inches,NaN,2020
9,3/27/2020 0:00,5.00,inches,NaN,2020
12,2/26/2020 13:45,0.90,feet,"Measured height during Saguaro Inventory 2020,...",2020
13,2/19/2020 0:00,10.00,inches,Saguaro inventory 2020,2020
16,2/26/2020 13:45,0.20,feet,"Measured height during Saguaro Inventory 2020,...",2020
...,...,...,...,...,...
13809,2/25/2015 0:00,28.95,feet,2 arms. 0 buds.,2015
13810,3/30/2013 15:31,28.15,feet,4 arms. ahp,2013
13831,2/26/2020 13:53,20.30,feet,"Measured height during Saguaro Inventory 2020,...",2020
13832,2/23/2015 0:00,19.70,feet,5 arms. 1 bud.,2015
13833,3/28/2014 0:00,19.50,feet,"5 arms, 1 bud. VN 3/14/2014.",2014

In [ ]:
#Converting inches to feet 
ft_value = pd.to_numeric(meas_df.loc[(meas_df["Height Unit"]=="feet"),'Height'])

inch_value = pd.to_numeric(meas_df.loc[(meas_df["Height Unit"]=="inches"),'Height']) / 12

cent_value = pd.to_numeric(meas_df.loc[(meas_df["Height Unit"]=="centimeters"),'Height']) / 30.4

In [ ]:
cent_value = meas_df.loc[(meas_df["Height Unit"]=="centimeters"),'Height in Feet'] / 30.4

inch_value

In [ ]:
#replacing the inch metric with the values captured in the .loc function 
meas_df['height_inches'] = meas_df.loc[(meas_df['Height Unit']=='inches'),'Height'] == inch_value

meas_df

In [ ]:
#renaming the columns Accession Planting and Height --> to the metric unit 
meas_df.rename(columns={'Height':'Height in Feet'},inplace=True)

meas_df

In [ ]:
meas_df.drop(['Measurement Date', 'Height Unit'],axis=1) 

meas_df

In [ ]:
inch_value = meas_df.loc[meas_df['Height Unit']=="inches",'Height']
yrly_change_13_15 =