In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "85008_history.csv"

# Read Purchasing File and store into Pandas data frame
weather_data = pd.read_csv(csv_path)
weather_data.head()

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow Depth,Wind Speed,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions
0,"85008, USA",1/1/12,80.0,47.0,63.3,46.0,NaN,0.0,NaN,15.0,NaN,9.9,17.1,36.14,Clear
1,"85008, USA",1/2/12,79.1,56.9,66.7,NaN,NaN,0.0,NaN,17.2,NaN,9.9,1.3,22.38,Clear
2,"85008, USA",1/3/12,74.9,53.9,63.1,NaN,NaN,0.0,NaN,10.3,NaN,9.9,38.3,29.66,Partially cloudy
3,"85008, USA",1/4/12,79.1,48.8,62.1,47.0,NaN,0.0,NaN,9.2,NaN,9.9,17.5,33.66,Clear
4,"85008, USA",1/5/12,77.1,50.1,62.0,NaN,NaN,0.0,NaN,12.8,NaN,9.9,29.2,28.54,Partially cloudy

In [ ]:
# Save config information.
url = "http://history.openweathermap.org/data/2.5/history/city?"
city = "Phoenix, AZ"
units = "metric"
# Get weather data
query_url = url + "appid=" + api_key + "&q=" + city

weather_response = requests.get(query_url)
weather_json = weather_response.json()
print(weather_json)